<!-- Side menu -->
<div id="side-menu-container" class="absolute px-4 py-4 right-0 top-0 flex flex-row h-full gap-4 items-center"
     xmlns="http://www.w3.org/1999/html">
    <div id="side-menu-button" class="btn btn-circle shadow-2xl bg-base-100"></div>
    <ul id="side-menu" class="menu h-full rounded-xl shadow-2xl bg-base-100 w-72 hidden">
        <li class="search-wrapper">
            <label for="search"><strong>Wyszukaj stację</strong></label>
            <input type="search" id="search" data-search placeholder="Wpisz nazwę stacji tutaj...">
        </li>
        <li class="station-cards" data-station-cards-container></li>
        <template data-station-template>
            <div class="card">
                <div class="header" data-header></div>
            </div>
        </template>
    </ul>
</div>

