{% load static %}
<html data-theme="cmyk">
	<head>
		<meta charset="utf-8">
		<title>PyKP</title>
		<script src="https://cdn.jsdelivr.net/npm/ol@v8.2.0/dist/ol.js"></script>
		<script src="https://cdn.tailwindcss.com"></script>
		<script src="{% static 'map/main.js' %}" type="module"></script>
		<link href="https://cdn.jsdelivr.net/npm/daisyui@4.5.0/dist/full.min.css" rel="stylesheet" type="text/css" />
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/ol@v8.2.0/ol.css">
	</head>
	<body>
		<div class="drawer drawer-end min-h-full">
			<input id="main-drawer" type="checkbox" class="drawer-toggle" /> 
			<div class="drawer-content flex flex-col">
				<!-- Navbar -->
				<div class="w-full navbar bg-base-300">
					<div class="flex-1 px-2 mx-2">PyKP</div>
					<div class="flex-none">
						<label for="main-drawer" aria-label="open sidebar" class="btn btn-square btn-ghost">
							<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="inline-block w-6 h-6 stroke-current"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path></svg>
						</label>
					</div> 
				</div>
				<!-- Map -->
				<div id="map-container" class="min-h-full"></div>
			</div> 
			<div class="drawer-side">
				<label for="main-drawer" aria-label="close sidebar" class="drawer-overlay"></label> 
				<ul class="menu p-4 w-80 min-h-full bg-base-200"></ul>
			</div>
		</div>
	</body>
</html>

